#{extends 'template.html' /}
#{set subtitle:'about' /}

<div id="root-container">
	<header><a href="/">imgscalr.com (BETA)</a></header>
	<div id="body-container">
		<hr/>
		<p>
			imgscalr.com is a free, HTML5, Drag-and-Drop image scaling and hosting service.
		</p>
		<p>
			This is what happens to your uploads:
		</p>
		<ol>
			<li>Image is given a unique name</li>
			<li>Smaller versions of the original are generated (e.g. thumbnail, small, etc.)</li>
			<li>Original image + all variations are uploaded to CDN</li>
			<li>Result page gives you direct links to the scaled versions</li>
		</ol>
		<br/>
		<p style="font-size: 80%;">
			<strong>Reminder</strong>: All images uploaded are publicly accessible.
		</p>
		<p>
			Please read the <a href="/tos">Terms of Service</a> to better understand the rules for using the service (in short: be nice and don't do illegal stuff.)
		</p>
		<hr/>
	</div>
	<footer>
		<ul>
			<li>&copy; 2011 The Buzz Media, LLC</li>
			<li>&nbsp;</li>
			<li><a href="/about">About</a></li>
			<li><a href="/tos">Terms</a></li>
			<li>API (Coming Soon)</li>
			<li><a href="http://www.thebuzzmedia.com/software/imgscalr-java-image-scaling-library/">Source</a></li>
			<li><a href="mailto:contact@thebuzzmedia.com">Contact</a></li>
		</ul>
	</footer>
</div>