#{extends 'template.html' /}
#{set subtitle:'image hosting as a service' /}
#{set scripts}
	<link rel="stylesheet" href="/public/css/trontastic/jquery-ui-1.8.9.custom.css" media="screen">
#{/set}

<div id="root-container">
	<header><a href="/"><img alt="imgscalr.com" src="/public/images/favicon-large.png" /> imgscalr.com (BETA)</a></header>
	<div id="body-container">
		<div id="browser-warning">
			<img align="left" src="/public/images/warning.png" />Chrome 8 or Firefox 3.6.8 are Required &nbsp;&nbsp; <span style="font-size: 80%;">(at least for now)</span>
		</div>
		<div id="upload-box">
			<div>
				<p id="upload-status-text">
					Drag and Drop images...
				</p>
				<p id="upload-details">
					Uploads are resized and mirrored for you automatically.
				</p>
			</div>
			<div id="upload-status-progressbar"></div>
		</div>
		<noscript>
			<form id="noscript-upload" action="/upload" enctype="multipart/form-data" method="post">
				(*JS Disabled) Manual Upload&nbsp;&nbsp;<input id="files" name="files" type="file" multiple onchange="document.getElementById('uploadform').submit();" />
			</form>
		</noscript>
	</div>
	<footer>
		<ul>
			<li>&copy; 2011 The Buzz Media, LLC</li>
			<li>&nbsp;</li>
			<li><a href="/about">About</a></li>
			<li><a href="/tos">Terms</a></li>
			<li>API (Coming Soon)</li>
			<li><a href="http://www.thebuzzmedia.com/software/imgscalr-java-image-scaling-library/">Source</a></li>
			<li><a href="mailto:contact@thebuzzmedia.com">Contact</a></li>
		</ul>
	</footer>
	<div id="upload-thumbnail-list">
		<div id="upload-header">
			<span id="upload-title">Uploads</span>
			<img id="upload-animation" src="/public/images/loading.gif" />
			<span id="upload-count"></span>
		</div>
	</div>
</div>
<div id="drop-box-overlay">
	<h1>Drop files anywhere to upload...</h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/public/scripts/libs/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script>!jQuery.ui && document.write(unescape('%3Cscript src="/public/scripts/libs/jquery-ui-1.8.9.custom.min.js"%3E%3C/script%3E'))</script>

<script src="/public/scripts/main.js"></script>