#{extends 'template.html' /}
#{set subtitle:'terms of service' /}

<div id="root-container">
	<header><a href="/">imgscalr.com (BETA)</a></header>
	<div id="body-container">
		<hr/>
		<p>
			imgscalr.com's <strong>terms of service</strong> are straight 
			forward and boil down to us	wanting to provide a helpful service 
			for folks that want convenient image hosting online.
		</p>
		<p>
			We won't host illegal material or porn and we retain the
			right to erase old images off the server without notice so we can
			keep things nice and tidy.
		</p>
		<p>
			We also retain the right to show off uploaded images in different
			and fun ways; like a "Most Popular" page. So keep that in mind
			before you upload anything private that you do not want to share.
		</p>
		<p>
			As far as privacy goes, we don't require any personal information
			to use the service, but any information you do give us (e.g. email)
			will be	kept a secret and not shared with anyone.
		</p>
		<p>
			That way we can stay friends. 
		</p>
		<hr/>
	</div>
	<footer>
		<ul>
			<li>&copy; 2011 The Buzz Media, LLC</li>
			<li>&nbsp;</li>
			<li><a href="/about">About</a></li>
			<li><a href="/tos">Terms</a></li>
			<li>API (Coming Soon)</li>
			<li><a href="http://www.thebuzzmedia.com/software/imgscalr-java-image-scaling-library/">Source</a></li>
			<li><a href="mailto:contact@thebuzzmedia.com">Contact</a></li>
		</ul>
	</footer>
</div>